<ul class="media-list">
  <% microposts.each do |micropost| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p><%= micropost.content %></p>
        </div>
        <div>
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
          <!-- お気に入りされているときにはUnlikeを、されていないときにはLikeを実行するようにif文を書く -->
          <% if current_user.likes?(micropost) %>
            <%= link_to "Unlike", favorite_path(current_user.favorites.find_by(micropost_id: micropost.id)), method: :delete %>
          <% else %>
            <%= link_to "Like", favorites_path(micropost_id: micropost.id), method: :post %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  
  <%= paginate microposts %>
</ul>